.container {
  min-height: 100vh;
}
.t-k-photo {
  width: 100%;
  height: 2921px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.r-i-g-h-t-b-o-t-t-o-m-t-o-p-b-u-t-t-o-n {
  top: 2878px;
  left: 1372px;
  width: 68px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.rectangle21 {
  top: 1px;
  left: 0px;
  width: 68px;
  height: 42px;
  position: absolute;
  border-color: transparent;
}
.t-o-p {
  top: 0px;
  left: 15px;
  width: 33px;
  height: 36px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text {
  top: 17px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text02 {
  left: 13px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text03 {
  top: 2887px;
  left: 568px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.submit-button {
  top: 2753px;
  left: 517px;
  width: 360px;
  height: 50px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 125, 123, 1);
}
.text05 {
  top: 17px;
  left: 144px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.messagefield {
  top: 2655px;
  left: 283px;
  width: 850px;
  height: 69px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.rectangle19 {
  top: 19px;
  left: 0px;
  width: 850px;
  height: 50px;
  position: absolute;
  border-color: transparent;
}
.text07 {
  top: 29px;
  left: 10px;
  color: rgba(0, 125, 123, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text09 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.emailfield {
  top: 2573px;
  left: 283px;
  width: 850px;
  height: 69px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.rectangle18 {
  top: 19px;
  left: 0px;
  width: 850px;
  height: 50px;
  position: absolute;
  border-color: transparent;
}
.text11 {
  top: 33px;
  left: 10px;
  color: rgba(0, 125, 123, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text13 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.namefield {
  top: 2491px;
  left: 283px;
  width: 850px;
  height: 69px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.rectangle17 {
  top: 19px;
  left: 0px;
  width: 850px;
  height: 50px;
  position: absolute;
  border-color: transparent;
}
.text15 {
  top: 34px;
  left: 10px;
  color: rgba(0, 125, 123, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text17 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact {
  top: 2327px;
  left: 445px;
  width: 506px;
  height: 86px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text19 {
  top: 62px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text21 {
  left: 171px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.body {
  top: 128px;
  left: 65px;
  width: 1310px;
  height: 2169px;
  position: absolute;
  border-color: transparent;
}
.rectangle14 {
  top: 1985px;
  left: 937px;
  width: 412px;
  height: 283px;
  position: absolute;
  border-color: transparent;
}
.rectangle13 {
  top: 1985px;
  left: 512px;
  width: 412px;
  height: 283px;
  position: absolute;
  border-color: transparent;
}
.rectangle12 {
  top: 1985px;
  left: 86px;
  width: 413px;
  height: 283px;
  position: absolute;
  border-color: transparent;
}
.rectangle11 {
  top: 1689px;
  left: 937px;
  width: 412px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.rectangle10 {
  top: 1689px;
  left: 512px;
  width: 412px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.rectangle9 {
  top: 1689px;
  left: 86px;
  width: 413px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.rectangle8 {
  top: 1042px;
  left: 937px;
  width: 412px;
  height: 633px;
  position: absolute;
  border-color: transparent;
}
.rectangle7 {
  top: 1042px;
  left: 512px;
  width: 412px;
  height: 633px;
  position: absolute;
  border-color: transparent;
}
.rectangle6 {
  top: 1042px;
  left: 87px;
  width: 413px;
  height: 633px;
  position: absolute;
  border-color: transparent;
}
.rectangle81 {
  top: 748px;
  left: 937px;
  width: 412px;
  height: 283px;
  position: absolute;
  border-color: transparent;
}
.rectangle71 {
  top: 748px;
  left: 512px;
  width: 412px;
  height: 283px;
  position: absolute;
  border-color: transparent;
}
.rectangle61 {
  top: 748px;
  left: 86px;
  width: 413px;
  height: 283px;
  position: absolute;
  border-color: transparent;
}
.gallerytext {
  top: 605px;
  left: 109px;
  width: 386px;
  height: 103px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text23 {
  top: 55px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text28 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.rectangle4 {
  top: 143px;
  left: 86px;
  width: 835px;
  height: 422px;
  position: absolute;
}
.abouttxt {
  top: 231px;
  left: 981px;
  width: 357px;
  height: 223px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.text30 {
  top: 55px;
  color: rgba(0, 0, 0, 1);
  width: 357px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text37 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text39 {
  top: 32px;
  left: 155px;
  color: rgba(0, 125, 123, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text44 {
  top: 48px;
  left: 749px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text46 {
  top: 47px;
  left: 893px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.text48 {
  top: 48px;
  left: 1049px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
::placeholder {
  color: #007f7b;
}
.text44:hover {
  color: #007f7b;
}
.text46:hover {
  color: #007f7b;
}
.text48:hover {
  color: #007f7b;
}
